<h2>Getting books from the DeeBee</h2>

<ul>
  <% @books.each do |book| %>
  <li>
    <%= book %>
  </li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>

    </tr>
  </thead>
